<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}">
</head>
<body>
    <div class="container">
        <div class="row alert alert-danger mt-3">
            <h2>Function Based View ModelForm CRUD Project</h2>
        </div>
        <div class="row">
            <form action="" method="post">
                {% csrf_token %}
                {{data.as_p}}
                <input type="submit" value="Update" class="btn btn-success">
            </form>
        </div>
        
        <a href="{% url 'stud' %}" class="btn btn-info" >Back to home</a>
    </div>
    <script src="enroll/js/jquery.js"></script>
    <script src="enroll/js/popper.js"></script>
    <script src="enroll/js/bootstrap.js"></script>
</body>
</html>